<div style="text-align: center">
  <img width="70%" src="assets/singcon.jpg">
  <h1>About me!</h1>
  <hr>
  <!-- // Work Experience -->
  <h2>Work/Programming Experience</h2>
  <section  class="work">
    <div>
      <!-- Job Details: copy this whole block to add more jobs -->
      <h3>Software Development Intern</h3>
      <p>Excite Club</p>
      <p>May 2018 – August 2018 (4 months)</p>
      <ul>
        <li>Developed and performed initial roll-out of the company's Android apps (customer-side and merchant-side app)</li>
        <p></p>
        <li>Improved both apps’ usability by revamping both apps’ user interface</li>
        <p></p>
        <li>Developed new functionalities for both android apps (redeeming reward program, Stripe Login verification etc.) </li>
      </ul>
      <!-- end of Job Details block. -->
    </div>
  </section>
  <section  class="work">
    <div>
      <!-- Job Details: copy this whole block to add more jobs -->
      <h3>Lab Programmer</h3>
      <p>DUNCAN Lab, University Of Toronto</p>
      <p>May 2018 – August 2018 (4 months)</p>
      <ul>
        <li>Improved Research efficiency through developing python scripts/java programs</li>
        <p id="empty">.</p>
        <li>Supported Graduate Student with their research by providing technical support</li>
      </ul>
      <!-- end of Job Details block. -->
    </div>
  </section>
  <!-- // Education -->
  <h2>Education</h2>
  <section id=Education>

    <!-- School details: copy this whole block to add more schools. -->
    <h3>University Of Toronto, 2021(Expected)</h3>
    <p>Honour Bachelor of Science</p>

    <!-- Add as many paragraphs as you need. -->
    <p>Specialist: Computer Science</p>
    <p>Major: Statistics</p>
    <p>Minor: Economics</p>
    <p>CGPA: 3.71</p>
    <!-- End of school details. -->
  </section>
</div>
