<main class="main">
  <article class="intro">
    <p>This is a typing test. Your goal is to duplicate the provided text, EXACTLY, in the field below. The timer starts when you start typing, and only stops when you match this text exactly. Good Luck!</p>
  </article>
  <div id="leaderboard">
    <h3>Leaderboard</h3>
    <div id="temp"></div>
  </div>
  <div class="test-area">
    <div id="origin-text">
      <p>{{content}}</p>
    </div>
    <div class="test-wrapper">
      <textarea
        id="test-area"  [ngModel]="input" (ngModelChange)="onChange($event)"
        name="textarea" rows="6" placeholder="The clock starts when you start typing."></textarea>
    </div>
    <div class="meta">
      <div id="clock">
        <div class="timer">{{timeString}}</div>
      </div>
      <button id="reset" (click)="restart()">Start over</button>
    </div>
    <div id="speed_count"><p></p></div>
  </div>
</main>
