<!--The content below is only a placeholder and can be replaced.-->
<header>
  <ul id=Header>
    <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
    <li><a routerLink="/projects" routerLinkActive="active">Side projects</a></li>
    <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About</a></li>
  </ul>
  <img *ngIf="nav.visible" width="1000" alt="Angular Logo" src="../assets/toronto.jpg">
  <h1 *ngIf="!nav.visible && isType"><strong>Typing test</strong></h1>
</header>
<router-outlet></router-outlet>
<footer>
  <h2>Let's Keep in Touch!!</h2>
  <div *ngIf="isWeb" class="cover" [style.left]="xPos" [style.top]="yPos" ></div>
  <div>
    <p><a href="mailto:lok.chow@mail.utoronto.ca">lok.chow@mail.utoronto.ca</a></p>
    <a href="https://www.linkedin.com/in/lok-man-christopher-chow/" target="_blank">LinkedIn</a>
  </div>

  <p>Copyright 2018 by Christopher Chow</p>
</footer>
