<main>
  <h1>Side Projects</h1>
<div class="box">
  <section>
    <h3>Type speed checker</h3>
    <br/>
    <span>A checker for you to challenge your type speed!</span>
    <br/>
    <a routerLink="/projects/type">Link to checker</a>
  </section>
  <section>
    <h3>Game Split</h3>
    <br/>
    <span>A Cross-Platform Flutter App to help store Mahjong/Poker Game records</span>
    <br/>
    <a href="https://play.google.com/store/apps/details?id=com.chris.game_split" target="_blank">Android version link</a>
    <br/>
    <a href="https://apps.apple.com/us/app/id1462996986" target="_blank">iOS version link</a>
  </section>
  <section>
    <h3>SJT Connects</h3>
    <br/>
    <span>A Cross-Platform React Native App For the St. James Town Community Centre</span>
    <br/>
    <a href="https://play.google.com/store/apps/details?id=com.st_james" target="_blank">Android version link</a>
  </section>
  <section>
    <h3>Excite Coupons</h3>
    <br/>
    <span>An Android App that allows you to get coupons from local merchants and earn rewards</span>
    <br/>
    <a href="https://play.google.com/store/apps/details?id=com.playtron.customerapp" target="_blank">Link to app</a>
  </section>
  <section>
    <h3>Todo List Website</h3>
    <br/>
    <a href="https://christochow.github.io/DragAndDropTodo/" target="_blank">Link to website</a>
  </section>
  <section>
    <h3>Watch Together</h3>
    <br>
    <span>A react website to allow users to watch youtube videos together</span>
    <br/>
    <a href="https://christochow.github.io/DragAndDropTodo/" target="_blank">Link to website</a>
  </section>
  <section>
    <h3>My Github repository</h3>
    <a href="https://github.com/christochow" target="_blank">Link to github</a>
  </section>
</div>
</main>
