<main>
  <h1>Side Projects</h1>
<div class="box">
  <section>
    <a href="https://play.google.com/store/apps/details?id=com.chris.game_split" target="_blank">Game Split</a>
  </section>
  <section>
    <a href="https://play.google.com/store/apps/details?id=com.st_james" target="_blank">SJT Connects</a>
  </section>
  <section>
    <a href="https://play.google.com/store/apps/details?id=com.playtron.customerapp" target="_blank">Excite Coupons</a>
  </section>
  <section>
    <a href="https://todo-site.herokuapp.com/" target="_blank">Todo List Website</a>
  </section>
  <section>
    <a href="https://github.com/christochow" target="_blank">My github account</a>
  </section>
  <section>
    <a routerLink="/projects/type">Type speed checker</a>
  </section>
</div>
</main>
