<main>
  <h1>Side Projects</h1>
  <section>
    <ul>
      <li><a href="https://play.google.com/store/apps/details?id=com.chris.game_split"  target="_blank">Game Split</a></li>
      <li><a href="https://play.google.com/store/apps/details?id=com.st_james"  target="_blank">SJT Connects</a></li>
      <li><a href="https://play.google.com/store/apps/details?id=com.playtron.customerapp"  target="_blank">Excite Coupons</a></li>
      <li><a href="https://github.com/christochow" target="_blank">My github account</a></li>
      <li><a routerLink="/projects/type">Type speed checker</a></li>
    </ul>
  </section>
</main>
